#ifndef SIXTRACKLIB__IMPL_MODULES_H__
#define SIXTRACKLIB__IMPL_MODULES_H__

#define SIXTRACKLIB_ENABLE_MODULE_SIMD   @SIXTRACKL_ENABLE_MODULE_SIMD@ 
#define SIXTRACKLIB_ENABLE_MODULE_OPENCL @SIXTRACKL_ENABLE_MODULE_OPENCL@
#define SIXTRACKLIB_ENABLE_MODULE_MPFR4  @SIXTRACKL_ENABLE_MODULE_MPFR4@

#endif /* SIXTRACKLIB__IMPL_MODULES_H__ */

/* end: sixtracklib/_impl/modules.h */

