#ifndef SIXTRACKLIB__IMPL_TESTDATA_FILES_H__
#define SIXTRACKLIB__IMPL_TESTDATA_FILES_H__

#if !defined( _GPUCODE )

#if defined( __cplusplus )
extern "C" {
#endif /* defined( __cplusplus ) */

#include "sixtracklib/_impl/definitions.h"

/* ************************************************************************ */
/* ****                                                                **** */
/* ****        Randomly Generated Tracking Test-Data Files             **** */
/* ****                                                                **** */
/* ************************************************************************ */

static char const NS(PATH_TO_TEST_TRACKING_DRIFT_DATA)[] = 
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_drift_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_DRIFT_EXACT_DATA)[] = 
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_drift_exact_data.bin";
    
static char const NS(PATH_TO_TEST_TRACKING_MULTIPOLE_DATA)[] = 
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_multipole_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_BEAM_BEAM_DATA)[] = 
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_beam_beam_data.bin";
    
static char const NS(PATH_TO_TEST_TRACKING_CAVITY_DATA)[] = 
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_cavity_data.bin";
    
static char const NS(PATH_TO_TEST_TRACKING_ALIGN_DATA)[] = 
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_align_data.bin";
    
#if defined( __cplusplus )
}
#endif /* defined( __cplusplus ) */

#endif /* !defined( _GPUCODE ) */

#endif /* SIXTRACKLIB__IMPL_TESTDATA_FILES_H__ */

/* end: sixtracklib/_impl/testdata_files.h */
