#ifndef SIXTRACKLIB_TESTS_SIXTRACKLIB_TESTLIB_TESTDATA_FILES_H__
#define SIXTRACKLIB_TESTS_SIXTRACKLIB_TESTLIB_TESTDATA_FILES_H__

#if !defined( SIXTRL_NO_INCLUDES )
    #include "sixtracklib/_impl/definitions.h"
#endif /* !defined( SIXTRL_NO_INCLUDES ) */

#if !defined( _GPUCODE ) && defined( __cplusplus )
extern "C" {
#endif /* !defined( _GPUCODE ) && defined( __cplusplus ) */

/* ************************************************************************ */
/* ****                                                                **** */
/* ****                Path to Base Testdata Directory                 **** */
/* ****                                                                **** */
/* ************************************************************************ */

static char const NS(PATH_TO_TESTDATA_DIR)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@";


/* ************************************************************************ */
/* ****                                                                **** */
/* ****        Tabulated values for mathematically functions           **** */
/* ****                                                                **** */
/* ************************************************************************ */

static char const NS(PATH_TO_TEST_FADDEEVA_ERRFN_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_faddeeva_errorfn_data.bin";


/* ************************************************************************ */
/* ****                                                                **** */
/* ****        Randomly Generated Tracking Test-Data Files             **** */
/* ****                                                                **** */
/* ************************************************************************ */

static char const NS(PATH_TO_TEST_TRACKING_STAMP_FILE)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking.generated";

static char const NS(PATH_TO_TEST_TRACKING_DRIFT_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_drift_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_DRIFT_EXACT_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_drift_exact_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_MULTIPOLE_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_multipole_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_BEAM_BEAM_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_beam_beam_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_CAVITY_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_cavity_data.bin";

static char const NS(PATH_TO_TEST_TRACKING_ALIGN_DATA)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/test_tracking_align_data.bin";


/* ************************************************************************ */
/* ****                                                                **** */
/* ****                  Real-World Datasets and Testdata              **** */
/* ****                                                                **** */
/* ************************************************************************ */

/* ------------------------------------------------------------------------ */
/* ----     LHC, Single Turn, Two Particles, No BeamBeam elements      ---- */
/* ------------------------------------------------------------------------ */

static char const NS(PATH_TO_TEST_LHC_PARTICLES_DATA_T1_P2_NO_BEAM_BEAM)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/lhc_particles_turn1_p2_nobeambeam.bin";

static char const NS(PATH_TO_TEST_LHC_BEAM_ELEMENTS_DATA_NO_BEAM_BEAM)[] =
    "@SIXTRACKLIB_TESTDATA_DIR@/lhc_beam_elements_nobeambeam.bin";

#if !defined( _GPUCODE ) && defined( __cplusplus )
}
#endif /* !defined( _GPUCODE ) && defined( __cplusplus ) */

#endif /* SIXTRACKLIB_TESTS_SIXTRACKLIB_TESTLIB_TESTDATA_FILES_H__ */

/* end: tests/sixtracklib/testlib/testdata_files.h */
