#!/usr/bin/env python
# -*- coding: utf-8 -*-

SIXTRACKLIB_SHARED_LIB = "@PYTHON_SIXTRACKLIB_SHARED_LIB@"

# List of modules for sixtracklib: enabled = 1, disabled = 0
@PYTHON_SIXTRACKLIB_MODULES_STR@

# end: sixtracklibconf.py

