#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os

# Name of the sixtracklib shared object file; it should be available locally
# in this directory
SHARED_LIB = os.path.join( os.path.dirname( os.path.realpath( __file__ ) ),
                           "@PYTHON_SIXTRACKLIB_TEST_SHARED_LIB@" )

# List of modules for sixtrack/testlib:
@PYTHON_SIXTRACKLIB_TEST_MODULES_STR@

# Testdata directory
@PYTHON_HAS_TESTDATA_DIR@PATH_TO_TESTDATA_DIR = os.path.abspath( os.path.join( os.path.dirname(
@PYTHON_HAS_TESTDATA_DIR@   os.path.realpath( __file__ ) ), "..", "..", "tests", "testdata", ) )

# end: config.py
